services:
  dispatcher:
    build:
      context: .
      dockerfile: docker/dispatcher/Dockerfile
    tty: True
    restart: on-failure
    volumes:
      - ~/.local/share/gkfeed/data:/data
    env_file:
      - .env
    # only for dev
    environment:
      - BROKER_URL=${BROKER_URL:-http://host.docker.internal:8000}
      - REDIS_HOST=redis
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis

  worker_light:
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    command: python -m app.run.worker_light
    tty: True
    restart: on-failure
    volumes:
      - ~/.local/share/gkfeed/data:/data
    env_file:
      - .env
    environment:
      - BROKER_URL=${BROKER_URL:-http://host.docker.internal:8000}
      - REDIS_HOST=redis
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis

  worker_heavy:
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    command: python -m app.run.worker_heavy
    tty: True
    restart: on-failure
    volumes:
      - ~/.local/share/gkfeed/data:/data
    env_file:
      - .env
    environment:
      - BROKER_URL=${BROKER_URL:-http://host.docker.internal:8000}
      - REDIS_HOST=redis
      - SELENIUM_DOCKER_URL=http://chrome:4444
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - chrome

  redis:
    image: redis:alpine
    restart: always

  chrome:
    image: selenium/standalone-chrome:latest
    restart: always
    volumes:
      - /dev/shm:/dev/shm