[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = "*"
yt-dlp = "*"
aiohttp = "*"
redis = {extras = ["hiredis"], version = "*"}
rq = "*"
python-dateutil = "*"
python-dotenv = "*"
pydantic = "==1.10.11"
rss-parser = "==0.2.4"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
locust = "*"
pytest-tornasync = "*"

[scripts]
app = 'sh -c "python app/main.py"'
test = 'pytest'
lock = "sh -c 'pipenv -q requirements > requirements.txt'"
lock-dev = "sh -c 'pipenv -q requirements --dev > requirements-dev.txt'"
gitup = "sh -c 'git fetch && git pull'"
dbuild = "sh -c 'pipenv -q run lock && docker compose build'"
dstop = "sh -c 'docker compose stop && docker compose rm -f'"
drun = "sh -c 'pipenv -q run dbuild && docker compose up -d'"
drestart = "sh -c 'pipenv -q run dstop && pipenv -q run drun'"

[requires]
python_version = "3.11"
